/* #################################################################
   #################################################################
   #################################################################
   ############										    ############
   ############            Cadastros - Resumo           ############
   ############                                         ############
   #################################################################
   #################################################################
   ################################################################# */

.padding-resumo {
    padding-right: 15px;
    padding-left: 15px;
}

.dataTables_filter{
    text-align: right;
}

.dataTables_paginate{
    text-align: right;
}

/* #################################################################
   #################################################################
   #################################################################
   ############										    ############
   ############          Cadastros - Relatório          ############
   ############                                         ############
   #################################################################
   #################################################################
   ################################################################# */



/* #################################################################
   #################################################################
   #################################################################
   ############										    ############
   ############            Cadastros - Editar           ############
   ############                                         ############
   #################################################################
   #################################################################
   ################################################################# */

.editar-cadastro .form-group{
    width:50%;
    margin: 10px;
}

.editar-cadastro span.help-block {
    display: inline;
}