/* #################################################################
   #################################################################
   #################################################################
   ############										    ############
   ############                 Download                ############
   ############                                         ############
   #################################################################
   #################################################################
   ################################################################# */

.editar-download .form-group{
    width:50%;
    margin: 10px;
}

.editar-download span.help-block {
    display: inline;
}