/* #################################################################
   #################################################################
   #################################################################
   ############										    ############
   ############                 Galeria                 ############
   ############                                         ############
   #################################################################
   #################################################################
   ################################################################# */

.editar-galeria .form-group{
    width:50%;
    margin: 10px;
}

.editar-galeria span.help-block {
    display: inline;
}