/* #################################################################
   #################################################################
   #################################################################
   ############										    ############
   ############             Ultimas da Campanha         ############
   ############                                         ############
   #################################################################
   #################################################################
   ################################################################# */

.editar-noticias .form-group{
    width:50%;
    margin: 10px;
}

.editar-noticias span.help-block {
    display: inline;
}

.editar-noticias #txtData {
    width: 100px;
}