################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/Olympus/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Admin/Admin.Olympus/.vs/Admin.Olympus/v15/Server/sqlite3
/Admin/Admin.Olympus/.vs/Admin.Olympus/v15
/Admin/Admin.Olympus/.vs/config
/Admin/Admin.Olympus/Admin.Olympus.MVC/bin/Microsoft.SqlServer.Types.dll
/Admin/Admin.Olympus/Admin.Olympus.MVC/obj/Release/AspnetCompileMerge/Source
/Admin/Admin.Olympus/Admin.Olympus.MVC/obj/Release/AspnetCompileMerge/TempBuildDir
/Admin/Admin.Olympus/Admin.Olympus.MVC/obj/Release/Package/PackageTmp
/Admin/Admin.Olympus/Admin.Olympus.MVC/obj/Release/Admin.Olympus.MVC.csproj.CoreCompileInputs.cache
/Admin/Admin.Olympus/Admin.Olympus.MVC/obj/Release/Admin.Olympus.MVC.csproj.CopyComplete
/Site/Olympus/.vs/Olympus/v15/Server/sqlite3
/Admin/Admin.Olympus/Admin.Olympus.LiberarTreinamento/obj
/Site/Olympus/packages/RestSharp.105.2.3
/Site/Olympus/src/Fullbar.Olympus.ServicoSMS/obj
/Site/Olympus/src/Fullbar.Olympus.MVC/obj
/Site/Olympus/src/Fullbar.Olympus.MVC/bin
/Site/Olympus/.vs
/Admin/Admin.Olympus/.vs
/Admin/Admin.Olympus/Admin.Olympus.MVC/obj
/Admin/Admin.Olympus/Admin.Olympus.MVC/bin
/Admin/Admin.Olympus/Admin.Olympus.Dominio/obj
/Admin/Admin.Olympus/Admin.Olympus.Dominio/bin
/Site/Olympus/src/Fullbar.Olympus.Dominio/bin
/Site/Olympus/src/Fullbar.Olympus.Dominio/obj
/Site/Olympus/src/Fullbar.Olympus.ServicoEmail/bin
/Site/Olympus/src/Fullbar.Olympus.ServicoEmail/obj
/Admin/Admin.Olympus/Admin.Olympus.LiberarTreinamento/bin
/Admin/Admin.Olympus/Admin.Olympus.LiberarTreinamento/obj
/Site/Olympus/src/Fullbar.Olympus.ServicoSMS/bin
/Site/Olympus/src/Fullbar.Olympus.ServicoSMS/obj
