<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <!--DESENVOLVIMENTO-->
  <connectionStrings>
     <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=sqlfullbar07.c7ophga59fwr.us-east-1.rds.amazonaws.com,1433;Initial Catalog=OlympusTreinamentoDEV;Persist Security Info=True;User ID=OlympusTreinamentoDEV;Password=oly!dev!" />

    <!--<add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=sqlfullbar06.c7ophga59fwr.us-east-1.rds.amazonaws.com;Initial Catalog=OlympusTreinamento;Persist Security Info=True;User ID=OlympusTreinamento;Password=olympus_treinamento$"/>-->
  </connectionStrings>

  <appSettings>

    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="hostSMTP" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="hostPORT" value="587" />
    <add key="smtpUsuario" value="AKIAIAFFSLL6ONPYUJNQ" />
    <add key="smtpSenha" value="Ag/zBMTKmrcXNuLMHpfHgMcYKToKJ2QALNbrKzwqqwc1" />
    <add key="hostRemetente" value="noreply@olympustreinamento.com.br" />
    <add key="hostDestinatario" value="Carolina.coelho@fullbar.com.br" />

    
    <add key="DiretorioUploads" value="C:\PROJETOS\OLY-OLYMPUS-PlataformaDeTreinamentos\Site\Olympus\src\Fullbar.Olympus.MVC\UPLOAD\" />
    

    <!-- Esqueci a senha -->
    <add key="htmlEsqueciSenha" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Senha\EsqueciSenha.html" />
    <add key="assuntoEsqueciSenha" value="Olympus Educação - Senha" />

    <add key="htmlEsqueciSenhaEn" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Senha\EsqueciSenhaEn.html" />
    <add key="assuntoEsqueciSenhaEn" value="Olympus Education Latam - Password" />

    <add key="htmlEsqueciSenhaEs" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Senha\EsqueciSenhaEs.html" />
    <add key="assuntoEsqueciSenhaEs" value="Olympus Educacion - Clave de acesso" />


    <!--Fale Conosco-->
    <add key="htmlFaleConosco" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\FaleConosco\FaleConosco.html" />
    <add key="assuntoFaleConosco" value="Olympus Educação - Contato" />

    <add key="htmlFaleConoscoEn" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\FaleConosco\FaleConoscoEn.html" />
    <add key="assuntoFaleConoscoEn" value="Olympus Education Latam - Contact Us" />

    <add key="htmlFaleConoscoEs" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\FaleConosco\FaleConoscoEs.html" />
    <add key="assuntoFaleConoscoEs" value="Olympus Educacion - Contacto" />


    <!--Confirma Inscricao-->
    <add key="htmlConfirmaInscricaoPtBr" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\ConfirmacaoPtBR.html" />
    <add key="assuntoConfirmaInscricaoPtBr" value="Olympus - Confirmação de Inscrição" />


    <add key="htmlConfirmaInscricaoEn" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\ConfirmacaoEn.html" />
    <add key="assuntoConfirmaInscricaoEn" value="Olympus - Confirmação de Inscrição" />

    <add key="htmlConfirmaInscricaoEs" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\ConfirmacaoEs.html" />
    <add key="assuntoConfirmaInscricaoEs" value="Olympus - Confirmação de Inscrição" />


    <!--Confirma Inscricao Convidado -->
    <add key="htmlConfirmaInscricaoConvidadoPtBr" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\Convidado\ConfirmacaoPtBR.html" />
    <add key="assuntoConfirmaInscricaoConvidadoPtBr" value="Olympus - Confirmação de Inscrição" />


    <add key="htmlConfirmaInscricaoConvidadoEn" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\Convidado\ConfirmacaoEn.html" />
    <add key="assuntoConfirmaInscricaoConvidadoEn" value="Olympus - Confirmação de Inscrição" />

    <add key="htmlConfirmaInscricaoConvidadoEs" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\Convidado\ConfirmacaoEs.html" />
    <add key="assuntoConfirmaInscricaoConvidadoEs" value="Olympus - Confirmação de Inscrição" />



    <!--Lista de  espera-->
    <add key="htmlListaEsperaPtBr" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\ListaEspera\ListaEsperaPtBR.html" />
    <add key="assuntoListaEsperaPtBr" value="Olympus - Lista de espera" />

    <add key="htmlListaEsperaEn" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\ListaEspera\ListaEsperaEn.html" />
    <add key="assuntoListaEsperaEn" value="Olympus - Lista de espera" />

    <add key="htmlListaEsperaEs" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\ListaEspera\ListaEsperaEs.html" />
    <add key="assuntoListaEsperaEs" value="Olympus - Lista de espera" />

    <!--Concelamento Inscrição-->
    <add key="htmlCancelamentoPtBr" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Cancelamento\CancelamentoPtBR.html" />
    <add key="assuntoCancelamentoPtBr" value="Olympus - Cancelamento Treinamento" />

    <add key="htmlCancelamentoEn" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Cancelamento\CancelamentoEn.html" />
    <add key="assuntoCancelamentoEn" value="Olympus - Cancelamento Treinamento" />

    <add key="htmlCancelamentoEs" value="E:\Projetos\Olympus\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Cancelamento\CancelamentoEs.html" />
    <add key="assuntoCancelamentoEs" value="Olympus - Cancelamento Treinamento" />


    <!--Confirmação de Cadastro -->
    <add key="htmlConfirmaCadastroPtBr" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\login-senha\login-senha.html" />
    <add key="assuntoConfirmaCadastroPtBr" value="Olympus - Cadastro" />
    <add key="htmlConfirmaCadastroEn" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\login-senha\login-senha-en.html" />
    <add key="assuntoConfirmaCadastroEn" value="Olympus - Register" />
    <add key="htmlConfirmaCadastroEs" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\login-senha\login-senha-es.html" />
    <add key="assuntoConfirmaCadastroEs" value="Olympus - Registro" />


    <!--E-mail Certificado -->
    <add key="htmlCertificadoPtBr" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\certificado-disponivel\certificado-disponivel.html" />
    <add key="assuntoCertificadoPtBr" value="Olympus - Treinamentos" />
    <add key="htmlCertificadoEn" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\certificado-disponivel\certificado-disponivel-En.html" />
    <add key="assuntoCertificadoEn" value="Olympus - Events" />
    <add key="htmlCertificadoEs" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\certificado-disponivel\certificado-disponivel-Es.html" />
    <add key="assuntoCertificadoEs" value="Olympus - Eventos" />



    <!-- Homologação -->
    <add key="siteEn" value="http://olympustreinamentoeng.fullbarhomologa.com.br/Home" />
    <add key="siteEs" value="http://olympustreinamentoesp.fullbarhomologa.com.br/Home" />
    <add key="sitePt" value="http://olympustreinamento.fullbarhomologa.com.br/Home" />

    <!-- Produção -->
    <!--<add key="siteEn" value="http://olympuseducationlatam.com/Home" />
    <add key="siteEs" value="http://olympuseducacion.com.mx/Home" />
    <add key="sitePt" value="http://olympuseducacao.com.br/Home" />-->

     <add key="Idioma" value="pt-BR" />
    <!--<add key="Idioma" value="en" />-->
    <!--<add key="Idioma" value="es" />-->

     <add key="idIdioma" value="1" />
     <!--<add key="idIdioma" value="2" />-->
     <!--<add key="idIdioma" value="3" />-->
    

    <!-- ANALYTICS -->
    <!-- Homologação -->
    <add key="analytics" value="homologa" />
    <!-- Produção -->
    <!--<add key="analytics" value="prod" />-->
    
    <!-- CAMINHO IMAGENS -->
    <!-- Homologação -->
    <add key="caminhoImg" value="http://olympustreinamentoadmin.fullbarhomologa.com.br" />
    <!-- Produção -->
    <!--<add key="caminhoImg" value="prod" />-->

  </appSettings>
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />


    <authentication mode="Forms">
      <forms loginUrl="~/Home" timeout="2880" />
    </authentication>


    <customErrors mode="On" defaultRedirect="/Home/Error">
      <error statusCode="404" redirect="/Home/Error" />
      <error statusCode="500" redirect="/Home/Error" />
    </customErrors>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>