@using Fullbar.Olympus.MVC.Helpers
@using Fullbar.Olympus.Dominio.Entidade;

@{
    ViewBag.Title = "Error";
}


<div class="col-md-9 pad-top-40 conteudo">
    <h2>@Fullbar.Olympus.MVC.Resource.PaginaNaoEncontrada</h2>
</div>
    
