

@{
    ViewBag.Title = "InscricaoConfirma";
}

<div class="col-md-9 pad-top-40 conteudo">
    <div class="col-md-12 title-geral">
        <p><span><img class="" src=@Url.Content("~/assets/img/ico-title.png") alt=""></span>Treinamento Lorem impsum</p>        
    </div>
    <div class="col-md-12 pad-top-20 title-geral title-cadastro result-inscri">
        <p><span><img class="" src=@Url.Content("~/assets/img/ico-inscri-confirma.png") alt=""></span>Parabéns sua inscrição foi realizada com sucesso!</p>
    </div>

    <div class="col-md-12 pad-top-30 inscr-confirma-text">
        Dentro de instantes você receberá um e-mail com sua ficha de inscrição. Essa ficha deverá ser apresentada no dia do treinamento.<br /><br />

        Para alterar dados cadastrais, baixar materiais de apoio, inscrever profissionais em um dos treinamentos disponíveis ou verificar datas dos próximos treinamentos, 
        acesse a página <a href="/MeusTreinamentos"><strong>“Meus treinamentos”</strong></a>. Para isso, basta clicar no botão Meus Treinamentos abaixo:
    </div>
    <div class="col-md-4 pad-top-30 text-left">
        <p><input type="submit" name="finalizar" value="Meus Treinamentos" class="btn btn-lg btn-primary btn-amarelo" role="button" id=""></p>
    </div>
    <div class="col-md-8 pad-top-30 pad-l text-right">
        <div class="btn-azul-2">
            Desejo inscrever outros profissionais da minha instituição para esse treinamento
        </div>        
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    
    

    <div class="col-md-8 zera-pad">
        <div class="col-md-12 pad-top-30 title-geral-cadastro title-geral-cadastro-laranja">
            <p><span><img class="" src="/assets/img/ico-title.png" alt=""></span>Dados do treinamento</p>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12 pad-top-30">
            <div class="col-md-2">
                <img src="~/assets/img/inscricao/ico-data.png" class="img-responsive center-block" />
            </div>
            <div class="col-md-3 text-center inscri-title-data">
                <strong>DATA</strong>
            </div>
            <div class="col-md-7 inscri-data">
                Sábado - 21 de Desembro, 2017
            </div>
        </div>
        <div class="col-md-12 pad-top-30">
            <div class="col-md-2">
                <img src="~/assets/img/inscricao/ico-segmento.png" class="img-responsive center-block" />
            </div>
            <div class="col-md-3 text-center inscri-title-data">
                <strong>SEGMENTO</strong>
            </div>
            <div class="col-md-7 inscri-data">
                Educação Profissional
            </div>
        </div>
        <div class="col-md-12 pad-top-30">
            <div class="col-md-2">
                <img src="~/assets/img/inscricao/ico-endereco.png" class="img-responsive center-block" />
            </div>
            <div class="col-md-3 text-center inscri-title-data">
                <strong>ENDEREÇO</strong>
            </div>
            <div class="col-md-7 inscri-data">
                Rua Doutor Alberto Seabra, 1061. Vila Madalena - São Paulo, SP
            </div>
        </div>

    </div>
    <div class="col-md-4 pad-top-30 text-center">        
        <a target="_blank" href="https://www.google.com.br/maps/place/Model.dsLatitude,Model.dsLongitude">
            <div id="map_canvas" style="width: 346px; height: 247px;" class="img-responsive center-block"></div>
        </a>        
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12 pad-top-40">
        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr class="treinamentos-tab-title c-laranja">
                        <td>
                            Horários
                        </td>
                        <td>
                            Atividades
                        </td>
                        <td>
                            Palestrantes
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">Dia 1</td>
                    </tr>
                    <tr>
                        <td>
                            10:00h
                        </td>
                        <td>
                            Café da manhã
                        </td>
                        <td>
                            Jason Nona
                        </td>

                    </tr>
                    <tr>
                        <td>
                            12:00h
                        </td>
                        <td>
                            Almoço
                        </td>
                        <td>
                            Jason Nona
                        </td>

                    </tr>
                    

                </tbody>
            </table>
        </div>
    </div>
    
</div>


@section Scripts {

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src=@Url.Content("~/assets/js/Mapa.js")></script>

    <script type="text/javascript">

        $(document).ready(function () {

            Initialize();

            $('#ulMenu > li').each(function () {

                $(this).removeClass('active');

            });

            $('#liTreinamento').addClass('active');

        });


    </script>


    <script>
            $(document).ready(function () {
                var qtd = $(".carousel-inner > .item").size()
                if (qtd <= 1) {
                    $(".esconde-seta").hide();
                }

            });
    </script>


    <script>
            $(function($) {

                $(".knob").knob({
                    change : function (value) {
                        //console.log("change : " + value);
                    },
                    release : function (value) {
                        //console.log(this.$.attr('value'));
                        console.log("release : " + value);
                    },
                    cancel : function () {
                        console.log("cancel : ", this);
                    },
                    /*format : function (value) {
                        return value + '%';
                    },*/
                    draw : function () {

                        // "tron" case
                        if(this.$.data('skin') == 'tron') {

                            this.cursorExt = 0.3;

                            var a = this.arc(this.cv)  // Arc
                                , pa                   // Previous arc
                                , r = 1;

                            this.g.lineWidth = this.lineWidth;

                            if (this.o.displayPrevious) {
                                pa = this.arc(this.v);
                                this.g.beginPath();
                                this.g.strokeStyle = this.pColor;
                                this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, pa.s, pa.e, pa.d);
                                this.g.stroke();
                            }

                            this.g.beginPath();
                            this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, a.s, a.e, a.d);
                            this.g.stroke();

                            this.g.lineWidth = 2;
                            this.g.beginPath();
                            this.g.strokeStyle = this.o.fgColor;
                            this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                            this.g.stroke();

                            return false;
                        }
                    }
                });

                // Example of infinite knob, iPod click wheel
                var v, up=0,down=0,i=0
                    ,$idir = $("div.idir")
                    ,$ival = $("div.ival")
                    ,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
                    ,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
                $("input.infinite").knob(
                                    {
                                    min : 0
                                    , max : 20
                                    , stopper : false
                                    , change : function () {
                                                    if(v > this.cv){
                                                        if(up){
                                                            decr();
                                                            up=0;
                                                        }else{up=1;down=0;}
                                                    } else {
                                                        if(v < this.cv){
                                                            if(down){
                                                                incr();
                                                                down=0;
                                                            }else{down=1;up=0;}
                                                        }
                                                    }
                                                    v = this.cv;
                                                }
                                    });
            });
    </script>

    <script>

    $(function () {

        /*====== Verifica Mensagem de retorno*/

        var mensagem = $('input[name="mensagem"]').val();

        if (mensagem != '') {

            var titulo = $('input[name="mensagemTitulo"]').val();

            //alerta(mensagem, titulo);
        }
    });

    </script>



}