<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!-- DESEVOLVIMENTO -->
    <add name="EFDbContexto" providerName="System.Data.SqlClient" connectionString="Data Source=sqlfullbar07.c7ophga59fwr.us-east-1.rds.amazonaws.com,1433;Initial Catalog=OlympusTreinamentoDEV;Persist Security Info=True;User ID=OlympusTreinamentoDEV;Password=oly!dev!" />
    <!-- PRODUÇÃO -->
     <!--<add name="EFDbContexto" providerName="System.Data.SqlClient" connectionString="Data Source=sqlfullbar06.c7ophga59fwr.us-east-1.rds.amazonaws.com;Initial Catalog=OlympusTreinamento;Persist Security Info=True;User ID=OlympusTreinamento;Password=olympus_treinamento$"/>--> 
  </connectionStrings>
  <appSettings>
    <add key="dtInicial" value="01/02/2016" />
    <add key="_service" value="AnalyticsSampleApp" />
    <add key="_feedURL" value="https://www.googleapis.com/analytics/v3/data/realtime/" />
    <add key="_usuario" value="fullbardigital@gmail.com" />
    <add key="_senha" value="fullbar#@!" />
    <add key="_idsOBL" value="ga:121585651" />
    <add key="idProjetoOBL" value="ga:121585651" />
    <add key="_idsOLA" value="ga:121604504" />
    <add key="idProjetoOLA" value="ga:121604504" />
    <add key="_idsOMS" value="ga:121591836" />
    <add key="idProjetoOMS" value="ga:121591836" />

    <!-- Arquivo Resource -->
    <add key="ArquivoResource" value="ResourcePT" />
    <!-- Culture Idioma -->
    <add key="CultureIdioma" value="pt-BR" />
    <!-- idIdioma -->
    <add key="idIdioma" value="1" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />


    <add key="hostSMTP" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="hostPORT" value="587" />
    <add key="smtpUsuario" value="AKIAIAFFSLL6ONPYUJNQ" />
    <add key="smtpSenha" value="Ag/zBMTKmrcXNuLMHpfHgMcYKToKJ2QALNbrKzwqqwc1" />
    <add key="hostRemetente" value="noreply@olympustreinamento.com.br" />
    <add key="hostDestinatario" value="Carolina.coelho@fullbar.com.br" />
    
    <!--E-mail Certificado -->
    <add key="htmlCertificadoPtBr" value="C:\PROJETOS\SVN\OLYMPUS\Admin\Admin.Olympus\Admin.Olympus.MVC\Email\certificado-disponivel\certificado-disponivel.html" />
    <add key="assuntoCertificadoPtBr" value="Olympus - Treinamentos" />
    <add key="htmlCertificadoEn" value="C:\PROJETOS\SVN\OLYMPUS\Admin\Admin.Olympus\Admin.Olympus.MVC\Email\certificado-disponivel\certificado-disponivel-En.html" />
    <add key="assuntoCertificadoEn" value="Olympus - Events" />
    <add key="htmlCertificadoEs" value="C:\PROJETOS\SVN\OLYMPUS\Admin\Admin.Olympus\Admin.Olympus.MVC\Email\certificado-disponivel\certificado-disponivel-Es.html" />
    <add key="assuntoCertificadoEs" value="Olympus - Eventos" />
    
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="30000" />
    <globalization uiCulture="pt-BR" culture="pt-BR" enableClientBasedCulture="true" />
  <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer></configuration>