<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- DESEVOLVIMENTO -->
    <!--<add name="EFDbContexto" providerName="System.Data.SqlClient" connectionString="Data Source=54.84.177.178,1433;Initial Catalog=OlympusTreinamentoDEV;Persist Security Info=True;User ID=OlympusTreinamentoDEV;Password=oly!dev!" />-->
    <!-- PRODUÇÃO -->
    <add name="EFDbContexto" providerName="System.Data.SqlClient" connectionString="Data Source=sqlfullbar06.c7ophga59fwr.us-east-1.rds.amazonaws.com;Initial Catalog=OlympusTreinamento;Persist Security Info=True;User ID=OlympusTreinamento;Password=olympus_treinamento$"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>