<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>



  <connectionStrings>

    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=54.84.177.178,1433;Initial Catalog=OlympusTreinamentoDEV;Persist Security Info=True;User ID=OlympusTreinamentoDEV;Password=oly!dev!" />

  </connectionStrings>


  <appSettings>

    <add key="hostSMTP" value="email-smtp.us-east-1.amazonaws.com"/>
    <add key="hostPORT" value="587"/>
    <add key="smtpUsuario" value="AKIAIAFFSLL6ONPYUJNQ"/>
    <add key="smtpSenha" value="Ag/zBMTKmrcXNuLMHpfHgMcYKToKJ2QALNbrKzwqqwc1"/>
    <add key="hostRemetente" value="noreply@olympustreinamento.com.br"/>


    <!-- Confirmação Inscricao -->
    <add key="htmlConfirmaInscricaoPtBr" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\ConfirmacaoPtBR.html" />
    <add key="assuntoConfirmaInscricaoPtBr" value="Olympus Educação" />
    <add key="htmlConfirmaInscricaoEn" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\ConfirmacaoEn.html" />
    <add key="assuntoConfirmaInscricaoEn" value="Olympus Education Latam" />
    <add key="htmlConfirmaInscricaoEs" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\ConfirmacaoEs.html" />
    <add key="assuntoConfirmaInscricaoEs" value="Olympus Educacion" />
    <!--Confirma Inscricao Convidado -->
    <add key="htmlConfirmaInscricaoConvidadoPtBr" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\Convidado\ConfirmacaoPtBR.html" />
    <add key="assuntoConfirmaInscricaoConvidadoPtBr" value="Olympus - Confirmação de Inscrição" />
    <add key="htmlConfirmaInscricaoConvidadoEn" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Convidado\ConfirmacaoEn.html" />
    <add key="assuntoConfirmaInscricaoConvidadoEn" value="Olympus - Confirmação de Inscrição" />
    <add key="htmlConfirmaInscricaoConvidadoEs" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Inscricao\Convidado\ConfirmacaoEs.html" />
    <add key="assuntoConfirmaInscricaoConvidadoEs" value="Olympus - Confirmação de Inscrição" />
    <!-- Lista de Espera -->
    <add key="htmlListaEsperaPtBr" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\ListaEspera\ListaEsperaPtBR.html" />
    <add key="assuntoListaEsperaPtBr" value="Olympus Educação" />
    <add key="htmlListaEsperaEn" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\ListaEspera\ListaEsperaEn.html" />
    <add key="assuntoListaEsperaEn" value="Olympus Education Latam" />
    <add key="htmlListaEsperaEs" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\ListaEspera\ListaEsperaEs.html" />
    <add key="assuntoListaEsperaEs" value="Olympus Educacion" />
    <!-- Cancelamento -->
    <add key="htmlCancelamentoPtBr" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Cancelamento\CancelamentoPtBR.html" />
    <add key="assuntoCancelamentoPtBr" value="Olympus Educação" />
    <add key="htmlCancelamentoEn" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Cancelamento\CancelamentoEn.html" />
    <add key="assuntoCancelamentoEn" value="Olympus Education Latam" />
    <add key="htmlCancelamentoEs" value="C:\PROJETOS\SVN\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\Cancelamento\CancelamentoEs.html" />
    <add key="assuntoCancelamentoEs" value="Olympus Educacion" />


    <!-- Treinamento Cancelado -->
    <add key="htmlTreinamentoCanceladoPtBr" value="C:\PROJETOS\GIT\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\TreinamentoCancelado\CancelamentoPtBR.html" />
    <add key="assuntoTreinamentoCanceladoPtBr" value="Olympus Educação" />
    <add key="htmlTreinamentoCanceladoEn" value="C:\PROJETOS\GIT\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\TreinamentoCancelado\CancelamentoEn.html" />
    <add key="assuntoTreinamentoCanceladoEn" value="Olympus Education Latam" />
    <add key="htmlTreinamentoCanceladoEs" value="C:\PROJETOS\GIT\OLYMPUS\Site\Olympus\src\Fullbar.Olympus.MVC\Email\TreinamentoCancelado\CancelamentoEs.html" />
    <add key="assuntoTreinamentoCanceladoEs" value="Olympus Educacion" />
    
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>